$primary-background-color: #000904;
$secondary-background-color:#b9bbb9;
$font-color: #EAEAEA;
$project-card-text:#000000;
$hover-color: #17314A;
$hover-color2: #377FC3;
$font-family: 'Poppins', sans-serif;
