* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//TODO AGJUST THE THEME COLORS
body {
  line-height: 1.6;
  // background-color: $primary-background-color;
  font-family: $font-family;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
}
#skip-link {
  position: fixed;
  top: -300px;
  left: 0;
  opacity: 0;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important ;
    transition: none !important;
  }
}
